<h1>Descrevendo Usuário</h1>
<p>
  <strong>Nome</strong>:
  {{ name }}
</p>

<div class="table">
  <thead style="font-size: 20px; font-weight: 600;">Funcionários</thead>
  <tbody>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cargo</th> 
      <th>Senioridade</th>
    </tr>
    <tr *ngFor="let detalhe of detalhes">
      <td>{{ detalhe.nome }}</td>
      <td>{{ detalhe.email }}</td>
      <td>{{ detalhe.senioridade }}</td>
      <td>{{ detalhe.cargo }}</td>
    </tr>
  </tbody>
</div>





