<div class="class">
  <p>CSS no Angular - #06</p>
  <h1>Hello World Angular!</h1>
  <h2>Testando H2</h2>
  <p>Alguma coisa</p>
  <a href="#">Clique Aqui</a>
</div>

<div class="class">
  <app-first-component></app-first-component>
</div>

<div class="class">
  <p>Compartilhamento de dados - #07</p>
  
  <app-parent-data 
    [name]="userName" 

  [detalhes]="tabelaUsuarios">
</app-parent-data>
</div>

<div class="class">
  <app-directives></app-directives>
</div>

<div class="class">
  <app-if-render></app-if-render>
</div>

<div class="class">
  <app-events></app-events>
</div>

<div class="class">
  <app-emmiter [pais]="nacionalidade"></app-emmiter>
</div>