* {
   font-family: Helvetica;
   margin: 0;
   padding: 0;
}
p{
  line-height: 1.4em;
}

h1 {
  background-color: #aebfe3;
  padding: 5px;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 1%;
}

h2 {
  font-weight: 100;
}

a {
  color: rgb(52, 194, 76);
  text-decoration: none;
  color: white;
  padding: 7px;
  background: rgb(167, 185, 245);
  border-radius: 5px;
  border: 1px solid rgb(42, 173, 248);
}
a:hover {
  color: rgb(127, 111, 216);
  color: white;
  transition: 2s;
  text-decoration: none;
  padding: 7px;
  background: rgb(51, 81, 179);
  border-radius: 5px;  border: 1px solid rgb(57, 135, 165);
}

body {
  padding-bottom: 500px;
}

.class {
  border-bottom: 2px solid rgb(98, 16, 136);
  padding: 1.2em;
  margin-bottom: 1em;
}