* {
   font-family: Helvetica;
   margin: 0;
   padding: 0;
}
p{
  line-height: 1.4em;
}

h1 {
  background-color: rgb(201, 174, 227);
  padding: 5px;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 1%;
}

h2 {
  font-weight: 100;
}

a {
  color: orange;
}

body {
  padding-bottom: 500px;
}

.class {
  border-bottom: 1px solid red;
  padding: 1.2em;
  margin-bottom: 1em;
}